.img-cont {
    width: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin-right:80px;
}
.talat_foto{
    width: 100%;
    margin-right: 150px;
}
.tamset{
    margin-right: 5px;
    margin-top: 10px;
   
}

.about {
    display: flex;
}

.profile {
    margin-right: 50px;
}

.info {
    text-align: right;
}
.para{
    margin-top: 50px;
}