.product {
    position: relative;
    background: #fff;
    border-radius: 5px;
    display: block;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.product .content {
    padding: 10px;
}

.product .product-img {
    cursor: pointer;
    width: 100%;
    height: 200px;
    object-fit: cover;
}



.sale-text {
    color: white;
    background: red;
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
}

.product .buttons {
    display: flex;
    justify-content: space-between;
}

.not_found {
    color: red;
}