.footer {
    margin-top: 50px;
    background: #3c6382;
    padding: 30px;
    min-height: 100px;
    bottom: 0px;
    text-align: center;
  
}
.talat{
    color: white;
    font-size: 22px;
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social a {
    margin: 0 15px;
    color: white;
}

.social-icon {
    color: white;
    font-size: 22px;
}